$main-color: #ff7b30;
$base-color: #767676;
$yellow-color: #ffd630;
$dark-color: #11192a;

$transition-time: 0.4;

$header-size: 280px;
$main-contents-padding: 50px;
$mobile-size: 760px;

$border-color: #ccc;
$info-padding: 0.8vw;
$card-size-portrait: 13vw;
$card-size-landscape: 10vw;

$textarea-width: 600px;
