@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  background-color: #f2f5f9;
  font-family: NanumSquareRound;
}

.skip_nav a {
  position: absolute;
  top: -30px;
  left: 0;
  background: #000;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  padding: 0 6px;
  z-index: 999;

  &:focus,
  &:active {
    top: 0;
  }
}

section {
  width: calc(100% - $header-size);
  min-height: 90vh;
  padding-left: $header-size;
}

h2 {
  padding: 20px $main-contents-padding;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px #ccd7e5;
  color: $dark-color;
  font-weight: bold;
}

article > div {
  padding: 50px $main-contents-padding;
}

// AppHeader
@import url("layouts/AppHeader.scss");

// AppFooter
@import url("layouts/AppFooter.scss");
